.presentation {  
    /* background:red; */
  }
  
  .presentation h2{
    margin:0;
    font-size: 150px;
    height: 100%;
    color: #EEE;
    font-family: monospace;
  
    text-shadow:  1px 1px 1px #919191,
                  2px 2px 1px #919191,
                  3px 3px 1px #919191,
                  4px 4px 1px #919191,
      10px 10px 6px rgba(16,16,16,0.8)
  }
  .presentation h3 {
    margin:0;
    font-family: monospace;
    font-size: 18px;
    color: #EEE;
    text-transform: uppercase;
    text-shadow: 3px 3px 3px rgba(16,16,16,0.8)
  }