:root {
  --items-row: 6;
}

.section-menu {
  display: flex;
}

#menu,
.footer-menu {
  width: calc(100% - calc(var(--side-menu-size) + var(--side-menu-left)));
  left: calc(var(--side-menu-size) + var(--side-menu-left));
  position: relative;
}

#menu {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

@media only screen and (max-width: 850px) {
  :root {
    --items-row: 3;
  }

  #menu .preview {
    width: 33%;
  }
}
