:root {
    --value: 150px;
    --items-row: 6;
  }

.section-menu {
    display: flex;
}

#menu,
.footer-menu
{
    width: calc(100% - var(--value));
    left: var(--value);
    position: relative;
}

#menu {
    display: flex;
    flex-wrap: wrap;
}

#menu .preview,
#menu .preview img{
    width: calc((100vw - var(--value))/var(--items-row));
    aspect-ratio: 1;
    transition:0.5s;
}

#menu .preview:hover{
    z-index: 2;
}

#menu .preview:hover img{
    transform: scale(1.2);
    border-radius: 10px;
    cursor: pointer;
}

#menu .preview:focus img{
    /* transform: scale(3); */
}

@media only screen and (max-width: 850px) {
    :root {
        --value: 0px;
        --items-row: 3
      }
}