.header {
    color: #EEE;
    display: flex;
    justify-content: space-between;
    background:#1c2028;
    padding:3px;
    height:20px;
}

.header .logo{
    display: flex;
    align-items: center;
}

.header a{
    display: flex;
    cursor: pointer;
    padding: 0 8px;
    background-color: transparent;
    border: none;
    font-size: 15px;
    font-family: monospace;
    text-shadow:  1px 1px 1px #919191;
    transition: 0.2s
}

.header .logo a{
    font-size: 18px;
}

.header a:hover {
    font-size: 20px;
    text-shadow:  1px 1px 1px #919191,
      3px 3px 2px rgba(16,16,16,0.8)
}

.header .navigation {
    display: flex;
    align-items: center;
}
